%footer.site-footer.footer
  .columns
    .column.is-one-fifth
      .columns
        .contact.column
          %p
            %strong= t("contact")
          %p
            %a{:href => "tel:+525561967429"} (55) 6196 7429
        .siret.column
          %p
            %strong E-mail
          %p hola@paolavaldez.com
