%footer.site-footer.footer
  .columns
    .column.is-one-fifth
      .columns
        .contact.column
          %p
            %strong= t("contact")
          %p
            %a{:href => "tel:+525518797136"} (55) 1879 7136
        .siret.column
          %p
            %strong= t("email")
          %p= t("email_address")
