%footer.site-footer.footer
  .columns
    .column.is-one-fifth
      .columns
        .contact.column
          %p
            %strong= t("contact")
          %p
            %a{:href => "tel:+525518797136"} (55) 1879 7136
        .siret.column
          %p
            %strong E-mail
          - if I18n.locale == :es
            %a{:href => "mailto:hola@paolavaldez.com"}= t("email_address")
          - else
            %a{:href => "mailto:hello@paolavaldez.com"}= t("email_address")
